.MainContainer{
    width: 100vw;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    
}


.CampusCard{
    display: block;
    width : auto;
    display: flex;
    flex-wrap: wrap;
    
    
    
}

/* #b2d3be */
.mapcard{
   /* border-Style : solid;*/
    margin : 20px;
    width : 500px;
    text-align: center;
    background-color: #2a6ba3ad;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.mapcard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}