#studentBody {
  background-color: rgb(48, 48, 48);
  color: white;
}

#titlePlusAddStudent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
